{% extends "base.html" %}

{% block custom_css %}
  <style>
    .map {
      height: 180px;
    }
  </style>
{% endblock %}

{% block content %}

<div class="container justify-content-center align-items-center vh-100">
  <div class="row">
    <h1 class="text-center mt-4 mb-0">CRIAR CARONA</h1>
  </div>
  <hr class="my-5">
  <div class="pb-5">
    <div class="card shadow" style="border-radius: 15px; margin: auto">
      <div class="card-body" style="padding: 36px;">
        <form method='post'>
          {% csrf_token %}
          <div class="d-flex flex-column">
            <div class="form-group mb-3">
              {% if form.car.help_text %}
              <div class="alert alert-warning" role="alert">
                <b>Atenção</b><br>
                {{ form.car.help_text }}
              </div>
              {% else %}
                <label for="id_car">Carro</label>
                {{ form.car }}
              {% endif %}
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="id_available_seats">Assentos disponíveis</label>
                  {{ form.available_seats }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="id_available_seats">Horário</label>
                  {{ form.starting_hour }}
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="search-starting-point-field">Local de partida</label>
              <input id="search-starting-point-field" class="form-control mb-2" type="text" placeholder="Digite o endereço..." autocomplete="on" runat="server" />
              <input hidden name="starting_point_address" id="starting-point-address" />
              <input hidden name="starting_point_latitude" id="starting-point-latitude" />
              <input hidden name="starting_point_longitude" id="starting-point-longitude" />
              <div class="map" id="starting-point-map"></div>
            </div>
            <div class="form-group mb-3">
              <label>Destino</label>
              <input id="search-destination-field" class="form-control mb-2" type="text" placeholder="Digite o endereço..." autocomplete="on" runat="server" />
              <input hidden name="destination_address" id="destination-address" />
              <input hidden name="destination_latitude" id="destination-latitude" />
              <input hidden name="destination_longitude" id="destination-longitude" />
              <div class="map" id="destination-map"></div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="mt-3 btn btn-outline-dark btn-rounded btn-lg">Criar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block custom_js %}
<script src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&" type="text/javascript"></script>
<script type='text/javascript'>
  function initializeStartPoint() {
    let map = new google.maps.Map(document.getElementById("starting-point-map"), {
        center: { lat: -22.903, lng: -43.132 },
        zoom: 11,
    });

    let marker = new google.maps.Marker({
        map,
        position: { lat: -22.903, lng: -43.132 },
        draggable: true,
        animation: google.maps.Animation.DROP
    });

    var input = document.getElementById('search-starting-point-field');
    var autocomplete = new google.maps.places.Autocomplete(input);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            return;
        }
        map.panTo(place.geometry.location);
        marker.setPosition(place.geometry.location);
        document.getElementById('starting-point-address').value = place.name;
        document.getElementById('starting-point-latitude').value = place.geometry.location.lat();
        document.getElementById('starting-point-longitude').value = place.geometry.location.lng();
    });

    google.maps.event.addListener(marker, 'dragend', function () {
      var pos = marker.getPosition();
      map.panTo(pos);
      document.getElementById('starting-point-latitude').value = pos.lat();
      document.getElementById('starting-point-longitude').value = pos.lng();

      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'location': pos }, function (results, status) {
        if (status === 'OK' && results[0]) {
          input.value = results[0].formatted_address;
          document.getElementById('city2').value = results[0].address_components[0].long_name;
        }
      });
    });
  }

  function initializeDestination() {
    let map = new google.maps.Map(document.getElementById("destination-map"), {
        center: { lat: -22.903, lng: -43.132 },
        zoom: 11,
    });

    let marker = new google.maps.Marker({
        map,
        position: { lat: -22.903, lng: -43.132 },
        draggable: true,
        animation: google.maps.Animation.DROP
    });

    var input = document.getElementById('search-destination-field');
    var autocomplete = new google.maps.places.Autocomplete(input);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            return;
        }
        map.panTo(place.geometry.location);
        marker.setPosition(place.geometry.location);
        document.getElementById('destination-address').value = place.name;
        document.getElementById('destination-latitude').value = place.geometry.location.lat();
        document.getElementById('destination-longitude').value = place.geometry.location.lng();
    });

    google.maps.event.addListener(marker, 'dragend', function () {
      var pos = marker.getPosition();
      map.panTo(pos);
      document.getElementById('destination-latitude').value = pos.lat();
      document.getElementById('destination-longitude').value = pos.lng();

      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'location': pos }, function (results, status) {
        if (status === 'OK' && results[0]) {
          input.value = results[0].formatted_address;
          document.getElementById('city2').value = results[0].address_components[0].long_name;
        }
      });
    });
  }

  function initialize () {
    initializeStartPoint();
    initializeDestination();
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}
