{% extends "base.html" %}

{% block content %}
{% load static %}
  <div class="container justify-content-center align-items-center vh-100">
    <div class="row">
      <h1 class="text-center mt-5">PERFIL</h1>
    </div>
    <hr class="my-5">
    <div class="row justify-content-center">
      <div class="col justify-content-center">
        <div class="card shadow" style="border-radius: 15px; max-width: 40%; margin: auto;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              {% if profile.rating %}
                <p style="font-size: 22px">
                  <i class="bi bi-star-fill" style="color: gold;"></i>
                  <span>{{ profile.rating }}</span>
                </p>
              {% endif %}
              {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="Foto de perfil" class="rounded-circle img-fluid" style="width: 150px; height: 150px; object-fit:cover" />
              {% else %}
                <img src="{% static 'images/undefined_profile_image.jpg' %}" alt="Profile Picture" class="rounded-circle img-fluid" style="width: 150px;" />
              {% endif %}
            </div>
            <h4 class="mb-2">{{ profile.user }}</h4>
            {% if profile.degree %}
              <p class="text-muted">{{ profile.degree }}</p>
            {% endif %}
            {% if can_edit %}
            <a href="{% url 'ride:edit_profile' %}" class="btn btn-outline-primary btn-rounded btn-lg">
              Editar Perfil
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
